@font-face {
    font-family: 'montserratlight';
    src: url('fonts/Montserrat-Light.woff2') format('woff2'),
         url('fonts/Montserrat-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


#main {
    
    display: block;    
    position: relative;
      left: 50%;
    transform: translateX(-50%);
    height: 1110px;
    width: 95%;
    max-width: 600px !important;
    background-color: white;    

    
}

body {
    
    background-color: #f2f2f2;
}




#logo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 40px;
    
}

#cover-image {
    
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    
    max-width: 540px !important;
   
}

#imagem-capa {
    width: 100%;
}


#overlay-image {
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 540px;
    top: 100px;
}

#avatar {
    width: 100px;
    height: 100px;
    position: relative;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}

.circle {
  width: 95px;
  height: 95px;
  border-radius: 50px;
     -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
  background-color: #601785;
  position: absolute;
 
   border: 4px solid #ffffff;
    

    
}


#event-title {
    
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
   display: block;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 170px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.5px;
  
}

#event-time {
    
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    height: 24px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 185px;
    color: #ffffff;
    text-align: center;
  
}

#tagline {
    
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
   
    
}

#linha-cima {
    position: relative;
    top: 60px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    
}

#linha-baixo {
    position: relative;
    top: 50px;
    width: 98%;
    left: 50%;
    transform: translateX(-50%);
    
}

#invite-text {
    
    position: relative;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 500px !important;
   font-family: 'montserratlight', sans-serif;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #000000;
    text-align: center;
    
}

#cta-button {
    
    position: relative;
    display: block;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 45px;
    background-color: #007aff;
    border-radius: 5px;
  
        
}

#button-text {
 
    position: relative;
    display: block;
    top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    
}


a {
    
    text-decoration: none;
}


#about-storyo a:visited {
    
    color: #007aff;
}

#about-storyo a:hover {
    
    color: #009aff;
}


#cta-button:hover{
    
background-color: #009aff;
}


#about-storyo {
    
    position: relative;
    display: block;
    top: 130px;
    text-align: left;
    font-family: 'montserratlight', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #545454;
}



/* MEDIA QUERIES */


@media (max-width: 575px) {
    
    #logo {
  
    width: 135px;
    height: 36px;
    
}

#cover-image {
    
  
    top: 95px;
   
   
}


#overlay-image {
    
   
    top: 95px;
}
    
    #avatar {
    width: 85px;
    height: 85px;
   
    top: 100px;
   
}
    
    .circle {
  width: 80px;
  height: 80px;
  border-radius: 45px;
     -moz-border-radius: 45px;
    -webkit-border-radius: 45px;

    

    
}
    
    #event-title {

    font-size: 25px;
    height: 35px;
  
    top: 140px;
  
  
}

#event-time {
    
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 17px;
    height: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 155px;
    color: #ffffff;
    text-align: center;
  
}

#tagline {
    
   
    top: 28px;
  
    font-size: 20px;
  
   
    
}

#linha-cima {
   
    top: 60px;
   
    
}

#linha-baixo {
    
    top: 50px;
    
}

#invite-text {
    
  
    top: 75px;
   
    font-size: 15px;
    line-height: 22px;
    
    
}

#cta-button {
    
   
    top: 23px;
    
  
        
}

#button-text {
 
    font-size: 15px;
  
    
}
    
    #about-storyo {
    
    position: relative;
    display: block;
    top: 100px;
    text-align: left;
    font-family: 'montserratlight', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #545454;
}
    
    #main {
        
        height: 1000px;
    }


    
}


@media (max-width: 470px) {
    
    #cover-image {
    
    top: 90px;
   
}
    
    #overlay-image {
    
    top: 90px;
}
    
    #logo {
    width: 120px;
    height: 32px;
    
}
    
    #avatar {
    width: 85px;
    height: 85px;
   
    top: 65px;
   
}
    
    .circle {
  width: 80px;
  height: 80px;
  border-radius: 45px;
     -moz-border-radius: 45px;
    -webkit-border-radius: 45px;

    

    
}
    
    #event-title {

    font-size: 20px;
    height: 33px;
  
    top: 110px;
  
  
}

#event-time {
    
   
    font-size: 14px;
   
    top: 120px;
 
  
}

#tagline {
    
   
    top: 28px;
  
    font-size: 18px;
  
   
    
}

#linha-cima {
   
    top: 60px;
   
    
}

#linha-baixo {
    
    top: 50px;
    
}

#invite-text {
    
  
    top: 75px;
   
    font-size: 13px;
    line-height: 19px;
    
    
}

#cta-button {
    
   
    top: 25px;
    
  
        
}

#button-text {
 
    top: 12px;
    font-size: 14px;
  
    
}
    
    #about-storyo {
    
    position: relative;
    display: block;
    top: 100px;
    text-align: left;
    font-family: 'montserratlight', sans-serif;
    font-size: 11px;
    line-height: 16px;
    color: #545454;
}
    
    #main {
        
        height: 870px;
    }


    
}